.buy-tarh-button{
    background:#605E5C;
    border-radius:24px;
    color:#fff;
    font-size:12px;
    height:24px;
}
.product-count-button{
    background: #0094D4;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}