:root{
	--theme-1-border-color:	#40465a;
;
}
@font-face {
	font-family: IRANSans-light;
	font-style: normal;
	font-weight: 300;
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('./utils/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('./utils/iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./utils/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans-ultra-light;
	font-style: normal;
	font-weight: 200;
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('./utils/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('./utils/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./utils/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans-Medium;
	font-style: normal;
	font-weight: 200;
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('./utils/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('./utils/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('./utils/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./utils/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
body{
  	font-family:IRANSans-light;
	direction: rtl;

}

.main-bg{
	background:#f8f8f8;
}

.round-6{
	border-radius:6px;
}
.bottom-menu{
    background:#fff;
    border-top:1px solid #e1e1e1;
}

.box{
    border-radius:14px;
    background:#fff;
    box-shadow:3px 3px 5px 0 rgba(80,80,80,.1);
}

button{
	font-family:inherit;
	outline:none;
}
.box .r-layout-gap{
	background:#ddd;
}
.box.gap-no-color .r-layout-gap{
	background:none;
}
.bgFFF{
	background:#fff;
}
.box-shadow{
	box-shadow:3px 3px 5px 0 rgba(80,80,80,.1);
}
.bgF1F1F1{
	background:#F1F1F1;
}
.bgFDB913{
	background:#FDB913;
}
.bgFAFAFA{
	background:#fafafa;
}
.colorD83B01{
	color:#D83B01;
}
.colorF15A29{
	color:#F15A29;
}
.bold{
	font-weight: bold;
}
.color605E5C{
	color:#605E5C;
}
.theme-1 .color605E5C{
	color:#ddd;
}
.colorA19F9D{
	color:#A19F9D;
}
.color575756{
	color:#575756;
}

.color323130{
	color:#323130;
}
.theme-1 .color323130{
	color:#ddd;
}
.color107C10{
	color:#107C10;
}
.color00B5A5{
	color:#00B5A5;
}
.color0094D4{
	color:#0094D4;
}
.color006F9E{
	color:#006F9E;
}
.theme-1 .color006F9E{
	color:#ddd;
}
.colorFDB913{
	color:#FDB913;
}
.colorFFF{
	color:#fff;
}
.borderDDD{
	border:1px solid #ddd;
}

.size10{
	font-size:10px;
}
.size12{
	font-size:12px;
}
.size14{
	font-size:14px;
}
.size16{
	font-size:16px;
}
.size18{
	font-size:18px;
}
.size20{
	font-size:20px;
}
.size28{
	font-size:28px;
}
.button-1{
	color:#0094D4;
	border:2px solid #0094D4;
	border-radius:4px;
	background: #fff;
	height:42px;
	width:100%;
	font-size:14px;
	font-family: inherit;
}
.button-2{
	background:#0094D4;
	border:2px solid #0094D4;
	border-radius:4px;
	color:#fff;
	height:42px;
	width:100%;
	font-size:14px;
	font-family: inherit;
}
.badge-1{
	position:absolute;
	background:#0094D4;
	right:0;
	top:50%;
}
.button-2.disabled{
	background: #A19F9D;
	border:2px solid #A19F9D;
	
}

.loading{
    z-index:100000000000000;
    position: absolute;
	direction: ltr;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    align-items: center;
    background:rgba(0,0,0,.4)
  }
  @keyframes loadingScaleY {
    0%,
    40%,
    100% {
     transform: scaleY(1);
     
    }
    20% {
     transform: scaleY(1.6);
    }
   }
   .cube{
	display:flex;
	font-size:16px;
	font-weight:bold;
	color:#fff;
   }

   
.fixed{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.tab-badge.active{
    background:dodgerblue;
}
.padding-0-12{
	padding:0 12px;
}
.padding-3-12{
	padding:3px 12px;
}
.padding-6-12{
	padding:6px 12px;
}
.padding-12{
	padding:12px;
}
.padding-6{
	padding:6px;
}
.padding-12-0{
	padding:12px 0;
}
.padding-0-24{
	padding:0 24px;
}
.padding-24{
	padding:24px;
	box-sizing: border-box;
}
.margin-24{
	margin:24px;
}
.round-24{
	border-radius:24px;
}
.margin-0-12{
	margin:0 12px;
}
.round-0-12{
	border-radius:0 12px;
}
.check-button{
	height:40px;
	border:1px solid #605E5C;
	border-radius:8px;
	padding:0 8px;
	font-size:16px;
	background:#fff;
}
.check-button.active{
	background:#0094D4;
	color:#fff;
	border:1px solid #0094D4;
}
.check-button-checkbox{
	width:16px;
	height:16px;
	border:2px solid #605E5C;
	border-radius:4px;
}
.check-button.active .check-button-checkbox{
	border:2px solid #fff;
	background:#fff;
	display:flex;
	color:#0094D4;
	align-items: center;
	justify-content: center;
}
.check-button.active .check-button-checkbox:after{
	content:'';
	width:3px;
	height:9px;
	border:2px solid;
	border-width: 0px 2px 2px 0px;
	transform:rotate(45deg) translate(-2px,-1px);
}

.bottom-popup{
	position:absolute;
	top:unset !important;
	left:12px !important;
	width:calc(100% - 24px);
	height:fit-content;
	border-radius: 12px 12px 0 0;
}
.number-view{
	min-width:40px;
	height:46px;
	padding:0 6px;
	border:2px solid #00B5A5;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#00B5A5;
	border-radius:8px;
}


.theme-1 .theme-1-light-bg{
	background: #313131;
}
.theme-1 .theme-1-dark-bg{
	background: #242424 !important;
}
.theme-1 .main-bg{
	background:#242424;
}
.theme-1 .header{
	background:#313131;
}
.theme-1 .bottom-menu{
	background:#313131;
	border-top:1px solid var(--theme-1-border-color);
}
.theme-1 .box{
	background:#313131;
}
.theme-1 .theme-1-colorFFF{
	color:#fff;
}
.theme-1 .sidemenu-icon path{
	fill:#fff !important;
}
.theme-1 .box:not(.gap-no-color) .r-layout-gap{
	background:#3f4456;
}
.theme-1 .theme-1-bg3F4456{
	background:#3f4456;
}
.theme-1 .theme-1-border3F4456{
	border:1px solid #3f4456;
}
.theme-1 .theme-1-colorEEE{
	color:#eee;
}
.theme-1 .theme-1-colorDDD{
	color:#ddd;
}
.theme-1 .tab-badge{
	background:#333847;
}
.aio-button-icon{
	right: unset !important;
    left: 8px !important;
}
.theme-1 .button-1{
	color:#0094D4;
	border:2px solid #0094D4;
	border-radius:4px;
	background: #333847;
	height:42px;
	width:100%;
	font-size:14px;
	font-family: inherit;
}
.theme-1 .aio-table{
	background:#333847;
	color:#fff;
	border:1px solid #3f4456;
}
.theme-1 .aio-table .aio-table-cell{
	background:#3f4456 !important;
}
.theme-1 .aio-table .aio-table-title{
	background:#3f4456 !important;
	border-color:#333847 !important;
}
.theme-1 .tab-title{
	color:#fff;
}
.theme-1 .tab.active .tab-title{
	color:dodgerblue;
}


.splash-screen{
	position:fixed;
	width:100%;
	height:100%;
	background:linear-gradient(to bottom right,#a1cce1 0%, #134591 100%);
	left:0;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	top:0;
	color:#d8e4fa;
	
}
.splash-text{
	font-size:24px;
	font-weight: bold;
	font-family:sans-serif;
}
.content-loading {
    background: linear-gradient(90deg, #ffffff, #ddd);
    background-size: 600% 600%;

    animation: AnimationName 1.5s ease infinite;
	animation-direction: alternate;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}